#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.card-product {
    border-radius: 15px;
}

.card-img-top {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: #000;
}

.img-fluid {
    border-radius: 15px;
}